* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
body {
    font: 13px Helvetica, Arial;
    max-width: 960px;
    margin: auto;
}
form { 
    background: #000; 
    padding: 3px; 
    position: fixed; 
    bottom: 0; 
    width: 100%;
    max-width: 960px;
}
form input { 
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: .5%; 
}
form button { 
    width: 9%; 
    background: rgb(130, 224, 255); 
    border: none; 
    padding: 10px; 
}
#messages { 
    list-style-type: none; 
    margin-bottom: auto;
    margin-left: 0;
    align-self: flex-end;
    padding: 0;
    width: 100%;
}
#messages li { 
    padding: 5px 10px; 
}
#messages li:nth-child(odd) { 
    background: #78C0E0; 
}
#messages li:nth-child(even) { 
    background: #449DD1; 
}
#messages { 
    margin-bottom: 40px
}
.content{
    position: relative;
    width: 75%;
    height:100%;
    float: left;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
    margin-top: auto;
}

.user-list{
    width: 25%;
    float: right;
    background-color: #7A5C61;
}

#users{
    background: #f0f0f0; 
    padding: 3px; 
    width: 25%;
    float: right;
    position: relative; 
    list-style-type: none;
    text-align: center;
}